@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
         url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  }

.text-anchor {
    color: #198754!important;
    text-decoration: none!important;
}

.text-anchor:hover {
    color: #fff!important;
    border-color: #3fd17240;
    outline: 0;
    box-shadow: #3fd17240;
}

.anchor-icon {
    color: #198754!important;
    text-decoration: none!important;
}

.anchor-icon:hover {
    color: #198754!important;
    border-color: #3fd17240;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.3rem;
}

a {
    color: #198754!important;
    text-decoration: none!important;
}




@media screen and (max-width: 1024px) {
   .card-width{
        width: 90%!important;
   }
  }